.banner {
    display: flex;
    margin: 0;
    width: 100%;
    height: 600px;
    position: relative;
    background-color: rgb(9,21,42);
    flex-direction: row;
}

.banner img{
    width: 0px important;
    margin-left: auto;
}