.hospitalcard{
    width: 300px;
    height: 300px;
    background:rgb(87, 192, 231);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5) , 0 6px 20px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 20px;
    color: white;
}

.hospitalText{
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
